#app{
    font-family: 'Acme', sans-serif;
}
.router-link-exact-active{
    font-weight: bold;
}
.artikel{
    background: url('https://source.unsplash.com/random') no-repeat center center fixed; 
    ;
    min-height: 180px;
    min-width: 80px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}