<template>
  <div class="container">
    <Navbar />
    <div class="row justify-content-center mx-2">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header text-center">Edit Data</div>
          <div class="card-body">
            <div class="form-group row">
              <label for="inputjudul" class="col-sm-2 col-form-label"
                >Judul</label
              >
              <div class="col-sm-10">
                <input
                  type="text"
                  class="form-control"
                  id="inputjudul"
                  placeholder="Masukkan Judul"
                  v-model="posts.judul"
                />
              </div>
            </div>
            <div class="form-group row">
              <label for="exampleForDeskripsi" class="col-sm-2 col-form-label"
                >Deskripsi</label
              >
              <div class="col-sm-10">
                <textarea
                  class="form-control"
                  id="exampleFormDeskripsi"
                  rows="6"
                  v-model="posts.deskripsi"
                ></textarea>
              </div>
            </div>
            <div class="form-group">
              <router-link to="/" class="btn btn-info">Batal</router-link>
              <button
                v-on:click="editData()"
                class="btn btn-success float-right"
              >
                Edit Post
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import axios from "axios";
import Navbar from "@/components/Navbar.vue";

export default {
  components: {
    Navbar,
  },
  data: function () {
    return {
      posts: {
        judul: "",
        deskripsi: "",
      },
      errors: [],
    };
  },
  mounted() {
    let id = this.$route.params.id;
    axios
      .get("http://localhost:3000/posts/" + id)
      .then((res) => {
        // console.log(res)
        this.posts = res.data;
      })
      .catch((e) => {
        this.errors.push(e);
      });
  },
  methods: {
    editData() {
      let id = this.$route.params.id;
      axios
        .put("http://localhost:3000/posts/" + id, this.posts)
        .then((res) => {
          console.log(res);
          this.posts = res.data;
          this.$toast.success("Data Berhasil Di Ubah", {
            type: "success",
            position: "top-right",
            duration: 3000,
            visible: true,
          });
        })
        .catch((e) => {
          this.errors.push(e);
        });
    },
  },
};
</script>