<template>
  <div class="home">
    <Navbar />
    <div class="container">
        <!-- Form Cari -->
        <form class="form-inline my-4">
          <input
            v-model="cari"
            class="form-control mr-sm-2"
            type="text"
            placeholder="Ketik Untuk Cari Artikel"
            aria-label="Search"
            @keyup="cariProduct"
          />
        </form>
        <!--  -->
      <div class="row">
        <div class="col-md-4 my-2" v-for="post in posts" v-bind:key="post.id">
          <div class="card">
            <div class="artikel">
            </div>
            <div class="card-body">
              <h5 class="card-title">{{ post.judul.substring(0, 20) }}</h5>
              <p class="card-text">
                {{ post.deskripsi.substring(0, 50) }}
                                <router-link class="badge badge-light text-danger"
                  :to="{ name: 'Lihat', params: { id: post.id } }"
                >
                  Baca selengkapnya
                </router-link>
              </p>
              <div class="d-flex justify-content-between">
                <button class="btn btn-danger" v-on:click="hapusData(post.id)">
                  Hapus
                </button>
                <router-link
                  :to="{ name: 'Edit', params: { id: post.id } }"
                  class="btn btn-warning"
                >
                  Edit
                </router-link>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import Navbar from "@/components/Navbar.vue";
export default {
  name: "Home",
  components: {
    Navbar,
  },
  data() {
    return {
      posts: [],
      errors: [],
      cari: "",
    };
  },
  mounted() {
    axios
      .get("http://localhost:3000/posts")
      .then((res) => (this.posts = res.data))
      .catch((err) => console.log(err));
  },
  methods: {
    cariProduct() {
      axios
        .get("http://localhost:3000/posts?q=" + this.cari)
        .then((res) => {
          this.posts = res.data;
        })
        .catch((e) => {
          this.errors.push(e);
        });
    },
    hapusData(id) {
      if (confirm("klik 'OK' untuk hapus")) {
        axios
          .delete("http://localhost:3000/posts/" + id)
          .then(() => {
            axios.get("http://localhost:3000/posts/").then((res) => {
              this.posts = res.data;
            });
            this.$toast.error("Data Berhasil Di Hapus", {
              type: "error",
              position: "top-right",
              duration: 3000,
              visible: true,
            });
          })
          .catch((e) => {
            this.errors.push(e);
          });
      }
    },
  },
};
</script>
