<template>
  <div>
    <Navbar />
    <div class="container">
    <div class="jumbotron">
      <h1 class="display-4">{{viewPost.judul.substring(0,20)}}</h1>
      <hr class="my-4" />
      <p class="overflow-auto">
        {{ viewPost.deskripsi }}
      </p>
      <p class="lead float-right">
        <router-link to="/" class="btn btn-info " role="button"
          >Kembali</router-link
        >
      </p>
    </div>
    </div>
  </div>
</template>
<script>
import axios from "axios";
import Navbar from "@/components/Navbar.vue";

export default {
  name: "Lihat",
    components: {
    Navbar,
  },
  data() {
    return {
      viewPost: [],
    };
  },
  mounted() {
    let id = this.$route.params.id;
    axios
      .get("http://localhost:3000/posts/" + id)
      .then((res) => (this.viewPost = res.data))
      .catch((err) => console.log(err));
  },
};
</script>
