<template>
  <div class="container">
    <Navbar />
    <div class="alert alert-danger mx-4" role="alert" v-if="errors">Harus Diisi</div>
    <div class="row justify-content-center mx-2">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header text-center">Tambah Data</div>
          <div class="card-body">
            <div class="form-group row">
              <label for="inputjudul" class="col-sm-2 col-form-label"
                >Judul</label
              >
              <div class="col-sm-10">
                <input
                  type="text"
                  class="form-control"
                  id="inputjudul"
                  placeholder="Masukkan Judul"
                  v-model="posts.judul" autocomplete="off"
                />
              </div>
            </div>
            <div class="form-group row">
              <label for="exampleForDeskripsi" class="col-sm-2 col-form-label"
                >Deskripsi</label
              >
              <div class="col-sm-10">
                <textarea
                  class="form-control"
                  id="exampleFormDeskripsi"
                  rows="6"
                  v-model="posts.deskripsi"
                  placeholder="Masukkan Deskripsi"
                ></textarea>
              </div>
            </div>
            <div class="form-group">
              <router-link to="/" class="btn btn-info">Batal</router-link>
              <button
                class="btn btn-success float-right"
                v-on:click="tambahData()"
              >
                Buat Post
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import axios from "axios";
import Navbar from "@/components/Navbar.vue";

export default {
  name: "Tambah",
  components: {
    Navbar,
  },
  data: function () {
    return {
      posts: {
        judul: "",
        deskripsi: "",
      },
      errors: false,
    };
  },
  methods: {
    tambahData() {
      if (this.posts.judul == "" || this.posts.deskripsi == "") {
        this.errors = true;
        this.$toast.error("Judul Dan Deskripsi Harus Diisi", {
          type: "error",
          position: "top-right",
          duration: 3000,
          visible: true,
        });
      } else {
        axios
          .post("http://localhost:3000/posts/", this.posts)
          .then((res) => {
            this.posts = res.data;
            this.$toast.success("Data Berhasil Di Tambah", {
              type: "success",
              position: "top-right",
              duration: 3000,
              visible: true,
            });
                      this.posts = "";

            // console.log(res)
            // this.$router.push({ path: "/" });
          })
          .catch((e) => {
            this.errors.push(e);
          });
      }
    },
  },
};
</script>